body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:439px;
  width:150px;
  height:43px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:358px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:153px;
  height:358px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:171px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:41px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:398px;
  width:153px;
  height:41px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:352px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:521px;
  width:153px;
  height:352px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:168px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:757px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:40px;
  width:1447px;
  height:757px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:370px;
  width:1443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:100px;
  height:40px;
  color:#000000;
}
#u842_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u842.selected {
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:50px;
  width:100px;
  height:40px;
}
#u844_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844.selected {
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:50px;
  width:100px;
  height:40px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1403px;
  height:5px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:100px;
  width:1400px;
  height:2px;
  color:#0000FF;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:181px;
  top:112px;
}
#u850_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1380px;
  height:660px;
  background-image:none;
}
#u850_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:660px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:67px;
  width:250px;
  height:80px;
  font-size:30px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:17px;
  width:250px;
  height:50px;
  font-size:18px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:67px;
  width:250px;
  height:80px;
  font-size:30px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:17px;
  width:250px;
  height:50px;
  font-size:18px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:60px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:168px;
  width:1340px;
  height:60px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:189px;
  width:60px;
  height:16px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:184px;
  width:150px;
  height:25px;
}
#u865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u865_input:disabled {
  color:grayText;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:191px;
  width:60px;
  height:16px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:186px;
  width:150px;
  height:25px;
}
#u868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u868_input:disabled {
  color:grayText;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:191px;
  width:60px;
  height:16px;
  text-align:right;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:186px;
  width:150px;
  height:25px;
}
#u871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u871_input:disabled {
  color:grayText;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 162, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:184px;
  width:70px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:228px;
  width:1343px;
  height:205px;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:200px;
  height:40px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:200px;
  height:40px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:200px;
  height:40px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:200px;
  height:40px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:0px;
  width:200px;
  height:40px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:188px;
  height:40px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:40px;
  width:200px;
  height:40px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:40px;
  width:200px;
  height:40px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:40px;
  width:200px;
  height:40px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:40px;
  width:200px;
  height:40px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:40px;
  width:200px;
  height:40px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:40px;
  width:188px;
  height:40px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:80px;
  width:200px;
  height:40px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:80px;
  width:200px;
  height:40px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:80px;
  width:200px;
  height:40px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:80px;
  width:200px;
  height:40px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:80px;
  width:200px;
  height:40px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:80px;
  width:188px;
  height:40px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:120px;
  width:200px;
  height:40px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:120px;
  width:200px;
  height:40px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:120px;
  width:200px;
  height:40px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:120px;
  width:200px;
  height:40px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:120px;
  width:200px;
  height:40px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:120px;
  width:188px;
  height:40px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:160px;
  width:200px;
  height:40px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:160px;
  width:200px;
  height:40px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:160px;
  width:200px;
  height:40px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:160px;
  width:200px;
  height:40px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:160px;
  width:200px;
  height:40px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:160px;
  width:188px;
  height:40px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:275px;
  width:25px;
  height:25px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:318px;
  width:25px;
  height:25px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:356px;
  width:25px;
  height:25px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:395px;
  width:25px;
  height:25px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:48px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:500px;
  width:548px;
  height:48px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1380px;
  height:660px;
  visibility:hidden;
  background-image:none;
}
#u850_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:660px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:67px;
  width:250px;
  height:80px;
  font-size:30px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:17px;
  width:250px;
  height:50px;
  font-size:18px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:67px;
  width:250px;
  height:80px;
  font-size:30px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:17px;
  width:250px;
  height:50px;
  font-size:18px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:60px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:168px;
  width:1340px;
  height:60px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:189px;
  width:60px;
  height:16px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:184px;
  width:150px;
  height:25px;
}
#u969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u969_input:disabled {
  color:grayText;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:191px;
  width:60px;
  height:16px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:186px;
  width:150px;
  height:25px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u972_input:disabled {
  color:grayText;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:191px;
  width:60px;
  height:16px;
  text-align:right;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:186px;
  width:150px;
  height:25px;
}
#u975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u975_input:disabled {
  color:grayText;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 162, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:184px;
  width:70px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:228px;
  width:1343px;
  height:125px;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:200px;
  height:40px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:200px;
  height:40px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:200px;
  height:40px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:200px;
  height:40px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:0px;
  width:200px;
  height:40px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:188px;
  height:40px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:40px;
  width:200px;
  height:40px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:40px;
  width:200px;
  height:40px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:40px;
  width:200px;
  height:40px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:40px;
  width:200px;
  height:40px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:40px;
  width:200px;
  height:40px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:40px;
  width:188px;
  height:40px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:80px;
  width:200px;
  height:40px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:80px;
  width:200px;
  height:40px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:80px;
  width:200px;
  height:40px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:80px;
  width:200px;
  height:40px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:80px;
  width:200px;
  height:40px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:80px;
  width:188px;
  height:40px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:275px;
  width:25px;
  height:25px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:318px;
  width:25px;
  height:25px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:48px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:500px;
  width:548px;
  height:48px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:452px;
  width:83px;
  height:20px;
  color:#999999;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:150px;
  height:43px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:493px;
  width:83px;
  height:20px;
  color:#FF0000;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
