body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1146px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1146px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:565px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:25px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:531px;
  width:643px;
  height:25px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:25px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:814px;
  width:643px;
  height:25px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
